body{
  background-color: beige;
}
td{
  color: white;
  background-color: blue;
  border: 0px solid black;
  width: 90px;
  height: 90px;
  font-family: Arial;
  font-size: 50px;
  text-align: center;

}
#output{
  text-align: center;
}
button{
  color:blue;
}
div{
  color: green;
  font-size: 30px;
}
#button{
  text-align: center;
}
